# Java
*.class

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# JS
node_modules/
.angular/
dist/

# Java
out/

# Assembly
*.MAP
*.OBJ
*.TR
*.TD

# Other
*.doc
*.docx
*.pdf
*.pptx
*.log

# Specific configs
db_login.json
secrets.*
~*.tmp
Year 3 Semester 2/Microservices/services/bot_service/config.py
