#wrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

/* ########## Universal style for centering stuff ########## */

.centered {
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}


/* ########## Items ########## */

content.table {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.edit-link {
    width: 50px;
}