#result, #inp, #zero, #null {
	grid-column: 1 / span 3;
}

#logDiv {
	text-align: center;
}

#calc {
	display: grid;
	grid-template-columns: 33%;
	grid-template-rows: 50px;
	grid-template-areas:
	"inp"
	"result"
	"eq    ce    c"
	"lbr   rbr   comma"
	"sqrt  pow   div"
	"add   sub   mul"
	"null"
	"one   two   three"
	"four  five  six"
	"seven eight nine"
	"zero";
	width: 300px;
	height: 400px;
	margin: auto;
}